<div class="about">
    <div>This library contains only books from my Nook.</div>
    <div>Project has been written just for fun and self-education.</div>
    <div>You can write me on <a href='mailto:mart.dmitriy@gmail.com'>email</a> and give you feedback.</div>
</div>