<div id="terminal"></div>
<script>
    jQuery(document).ready(function($) {
        $('#terminal').terminal(function (command, term) {
            switch (command) {
            case "books":
            {
                var url = "Home/GetBooks";
                getBooks(url, term);
            }
            case "help":
                term.echo("Type 'help' to get all avaible commands");
            }
            
        },
        {
            greetings: "Welcome to the Library.",
        });
    });

    function getBooks(url, term) {
        $.post(
            url,
            function(data) {
                var str = "<div class='table'>";
                $.each(data, function(i, book) {
                    str = str + "<div class='row'>";
                    str = str + "   <div class='cell'>" + i + "</div>" +
                        "<div class='cell'>" + book.Author + "</div>" +
                        "<div class='cell'>" + book.Name + "</div>" +
                        "<div class='cell'>" + book.Path + "</div>";
                    str = str + "</div>";
                });
                str = str + "</div>";
                term.echo(str, { raw: true });
            });
    }

</script>